/* 3-style.css */

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Define reusable color variables */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Text color */
body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

/* Hide elements visually */
.visually-hidden {
  display: none;
}

/* Accent elements */
.card-category {
  color: var(--color-primary);
}

.section-tagline {
  color: var(--color-primary);
}
